:root {
  --text-primary: ;
  --text-secondary: #a0a0a0;
  --bg-color: #000;
  --main-color: #ef9a19;
  --sub-main-color: #fbda03;
  --gradient: linear-gradient(
    270deg,
    var(--main-color) 10%,
    var(--sub-main-color) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100%;
  font-size: 14px;
  min-width: 720px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

#nowPlayingBarContainer {
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  min-width: 620px;
  border-top: 1px solid #ef9a19;
}

/* #nowPlayingBarContainer:hover {
  border-top: 1px solid #fbda03;
} */

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
  width: 30%;
  min-width: 100px;
}

#nowPlayingRight {
  position: relative;
  margin-top: 16px;
}

#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#nowPlayerBar .content {
  width: 100%;
  height: 57px;
}

.playerControls .buttons {
  margin: 0 auto;
  display: table;
}

.controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.controlButton img {
  width: 20px;
  height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
  width: 32px;
  height: 32px;
}

.controlButton:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.5);
}

.progressTime {
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playbackBar {
  display: flex;
  width: 100%;
  /* padding-top: 10px; */
  /* margin-top: 6px; */
}

.progressBar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  /* margin-top: 3px;  */
}

.progressBarBg {
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: relative;
}

.progress {
  background-color: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius: 2px;
  position: relative;
}
.progressNode {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* left: 100%; */
  margin-left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  /* opacity: 1; */
  visibility: hidden;
  /* transition: opacity 0.2s; */
}

.progressBar:hover .progress {
  background-color: #ef9a19;
}
.volumeBar:hover .progress {
  background-color: #ef9a19;
}
.progressBar:hover .progressNode {
  /* opacity: 1; */
  visibility: visible;
}
.volumeBar:hover .progressNode {
  /* opacity: 1; */
  visibility: visible;
}

.playbackBar .progressBar {
  margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
  height: 100%;
  max-width: 57px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}

#nowPlayingLeft img {
  border: 1px solid #ef9a19;
  border-radius: 10px;
}

#nowPlayingLeft .trackInfo {
  display: table;
}

#nowPlayingLeft .trackInfo .trackName {
  margin: 6px 0;
  display: inline-block;
  width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
  font-size: 12px;
  color: #a0a0a0;
}

#nowPlayingRight .volumeBar {
  width: 180px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

#nowPlayingRight .volumeBar .progressBar {
  width: 125px;
  margin-top: 3px;
}

#topContainer {
  min-height: 100%;
  width: 100%;
}

#mainContainer #topContainer #navBarContainer {
  background-color: #282828;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #ef9a19;
}

.navBar {
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.navBar img {
  width: 120px;
  margin-left: 25px;
  margin-top: 25px;
}

.navItem i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.navItem {
  padding: 0 0 0 25px;
  align-items: center;
}

.navItem:hover {
  border-left: 4px solid #ef9a19;
  filter: drop-shadow(-40px 0px 10px #ef9a19);
  cursor: pointer;
}

.navItemLink i {
  display: inline-block; /* Ensure the icon behaves as an inline element */
  margin-right: 8px; /* Add spacing between the icon and text */
  font-size: 14px; /* Adjust icon size */
  color: #a0a0a0; /* Icon color */
  text-decoration: none;
}

.navBar .group {
  padding: 10px 0;
}

.navItem {
  /* padding:7px; */
  /* padding-top: 7px; */
  /* padding-bottom: 7px; */
  /* margin-top: 10px; */
  font-size: 14px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
}

#browse,
#yourMusic,
#profile,
#video,
#contact,
#logout {
  margin: 20px 0;
  /* margin-bottom: 20px; */
}

.logo {
  margin-bottom: 20px;
}
.navItemLink {
  color: #a0a0a0;
  text-decoration: none;
  width: 100%;
  display: flex;
}

.navItem:hover i,
.navItemLink:hover {
  color: #ef9a19;
  cursor: pointer;
}

#mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100% - 220px);
  /* background-color: #282828; */
  /* border-bottom: 1px solid #ef9a19; */
}

#mainContent {
  padding: 0 20px;
}

.pageHeadingBig {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ef9a19;
}

.gridViewItem {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 29%;
  height: 29%;
  max-width: 200px;
  min-width: 150px;
  /* position: relative; */
}

.gridViewItem:hover {
  transform: scale(1.05);
}

.gridViewItem img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ef9a19;
  /* position: relative; */
}

/* .gridViewItem i {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #fff;
} */

.gridViewInfo {
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* width: 100%; */
}

.gridViewItem a {
  text-decoration: none;
}

.entityInfo {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
}

.entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 200px;
}

.entityInfo .leftSection img {
  width: 100%;
  border: 1px solid #ef9a19;
  border-radius: 10px;
}

.entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
  box-sizing: border-box;
}

.entityInfo .rightSection h2 {
  margin-top: 0px;
}

.entityInfo .rightSection p {
  color: #939393;
  font-weight: 200;
}

.tracklist {
  padding: 0;
}

.tracklistRow {
  height: 40px;
  padding: 15px 10px;
  list-style: none;
}

.tracklistRow span {
  color: #939393;
  font-weight: 200;
}

.tracklistRow:hover {
  background-color: #282828;
  border-radius: 10px;
  /* border: 1px solid #ef9a19; */
}

.tracklistRow .trackCount {
  width: 8%;
  float: left;
}

.tracklistRow .trackCount img {
  width: 20px;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.tracklistRow:hover .trackCount img {
  visibility: visible;
}

.tracklistRow .trackCount span {
  visibility: visible;
}

.tracklistRow:hover .trackCount span {
  visibility: hidden;
}

.tracklistRow .trackInfo {
  width: 75%;
  float: left;
}

.tracklistRow .trackInfo span {
  display: block;
}

.tracklistRow .trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}

.tracklistRow .trackOptions img {
  width: 15px;
  visibility: hidden;
}

.tracklistRow:hover .trackOptions img {
  visibility: visible;
  cursor: pointer;
}

.tracklistRow .trackDuration {
  width: 12%;
  float: left;
  text-align: right;
}

.tracklistRow .trackInfo .trackName {
  color: #fff;
  margin-bottom: 7px;
}

/* .centerSection .artistInfo {
  text-align: center;
} */
.centerSection .artistInfo {
    display: flex;
    align-items: center;
}
.centerSection .artistImage {
    margin-right: 100px; /* add some space between image and text */
    border-radius: 100%;
    width: 250px;
    height: 250px;
}
.centerSection .artistDetails {
    /*flex: 1;*/ /* take up remaining space */
    text-align: center; /* center text horizontally */
}
.centerSection .artistDetails .artistName {
  font-weight: 900;
  font-size: 100px; 
  margin-bottom: 0px;
  margin-top: 0px;
}

.button {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  background: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 500px;
  padding: 15px;
  min-width: 130px;
}

.button.orange {
  background-color: #ef9a19;
  border-color: #ef9a19;
  font-weight: bold;
}

.borderBottom {
  border-bottom: 1px solid #ef9a19;
  margin-bottom: 20px;
}

/* .tracklistContainer h2,
.gridViewContainer h2 {
  text-align: center;
} */

[role="link"] {
  cursor: pointer;
}